/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/02/2017, 09:01:33 AM
    Author     : jospina
*/


img.icon {
    max-width: 100px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.switch label input[type=checkbox]:checked+.primary {
    background-color: rgba(66, 133, 244, 0.39);
}
.switch label .primary {
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    transition: background .3s ease;
    margin: 0 16px;
}

.btn .fa, .btn-floating, .picker__box, .product-table td, .switch label .primary {
    vertical-align: middle;
}

.switch label .primary:after {
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: #F1F1F1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);
    left: -5px;
    top: -3px;
    transition: left .3s ease,background .3s ease,box-shadow .1s ease;
}
.switch label .primary, .switch label .primary:after {
    content: "";
    display: inline-block;
}

.switch label input[type=checkbox]:checked+.lever:after {
    left: 24px;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #4285F4;
}

#http-error-message h1 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

#http-error-message img.icon {
    max-width: 150px;
    margin: auto;
}

div#http-error-message {
    margin-top: 5%;
    background: white;
    z-index: 999999;
    position: relative;
    top: 40px;
}

h1.big{
    font-size: 10em;
}

.md-form .mdb-select,.mdb-form-group .mdb-select{
    margin-top: 7px;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
}

.fa.fa-loader-btn {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}