/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/03/2017, 02:50:20 PM
    Author     : jospina
*/


goal-progress {
      width: 100%;
    position: relative;
    min-height: 100px;
    background: #f9f9f9;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 138px;
    display: block;
    margin-bottom: 15px;
    border: 1px #eeeeee solid;
}

goal-progress interval {
    float: left;
    /*border-right: 1px black solid;*/
    height: 100px;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1);
}

goal-progress interval:after {
    content: attr(label-month-name);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.48);
    display: block;
    padding: 5px;
    font-size: 10px;
    color: white;
    height: 100%;
}

goal-progress interval.active:before {
    content: "";
    background-image: url("../../../images/app/icons/runner.png");
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    z-index: 99;
}
goal-progress interval.active.complete:before{
    background-image: url("../../../images/app/icons/winner.png");
}

goal-progress interval.active{

}

goal-progress interval saving {
    position: absolute;
    font-size: 10px;
    color: white;
    bottom: 0px;
    left: 1px;
    margin: auto;
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

goal-progress interval.min:after {
    padding: 0px;
}

goal-progress interval.active.min:before {
    background-size: 8px;
    bottom: -20px;
    height: 15px;
    background-color: black;
    padding-top: 20px;
}

goal-progress interval[month="1"]{
    background-image:url("../../../images/res/months/01.jpg");
}

goal-progress interval[month="2"]{
    background-image:url("../../../images/res/months/02.jpg");
}

goal-progress interval[month="3"]{
    background-image:url("../../../images/res/months/03.jpg");
}

goal-progress interval[month="4"]{
    background-image:url("../../../images/res/months/04.jpg");
}

goal-progress interval[month="5"]{
    background-image:url("../../../images/res/months/05.jpg");
}

goal-progress interval[month="6"]{
    background-image:url("../../../images/res/months/06.jpg");
}

goal-progress interval[month="7"]{
    background-image:url("../../../images/res/months/07.jpg");
}

goal-progress interval[month="8"]{
    background-image:url("../../../images/res/months/08.jpg");
}
goal-progress interval[month="9"]{
    background-image:url("../../../images/res/months/09.jpg");
}
goal-progress interval[month="10"]{
    background-image:url("../../../images/res/months/10.jpg");
}

goal-progress interval[month="11"]{
    background-image:url("../../../images/res/months/11.jpg");
}

goal-progress interval[month="12"]{
    background-image:url("../../../images/res/months/12.jpg");
}

goal-progress interval newyear {
    position: absolute;
    right: -8px;
    background: black;
    height: 100%;
    color: white;
    font-size: 10px;
    vertical-align: middle;
    padding-top: 27%;
    z-index: 99;
    width: 16px;
    text-align: center;
}

goal-progress display {
    width: 97%;
    display: block;
}

goal-progress goal {
    float: left;
    display: block;
    width: 3%;
    height: 100px;
    background-color: #eee;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    position: relative;
}

goal-progress amount{
    visibility: visible!important;
}

goal-progress goal amount {
    transform: rotate(90deg);
    display: inline-block;
    color: white;
    background: #bb0000;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    max-height: 20px;
    padding: 0px 5px;
    left: -29px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    max-width: 100px;
    width: 100px;
}


goal-progress interval progress-saving {
    position: absolute;
    left: 0px;
    width: 100%;
    background: rgba(0, 53, 255, 0.71);
    bottom: 0px;
}

goal-progress interval result .fa{
    font-size: 1.5em;
    color: white;
}

goal-progress interval result {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    display: block;
}

goal-progress display year{

}

goal-progress display year .open-year {
    width: 2%;
    height: 100px;
    float: left;
    text-align: center;
    color: white;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #000000;
    line-height: 17px;
    padding-top: 16px;
}

goal-progress display year.active .open-year {
    background: #00bb9b;
}

goal-progress display,goal-progress .title,goal-progress goal,goal-progress .progress{
    display:none;
}

goal-progress .title {
    padding: 5px;
    background: #003756;
    color: white;
    font-size: 1em;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

goal-progress .progress .progress-bar {
    background-color: #00c851;
}

goal-progress .title .pull-right {
    background: white;
    color: #003756;
    padding: 0px 5px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

goal-progress .msg-complete {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    background: rgba(255, 255, 255, 0.78);
    margin-top: 34px;
    padding-top: 7px;
}

goal-progress .msg-complete h3 {
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 10px;
}
goal-progress goal-progress progress-sand-time .middle{
    fill:#f9f9f9;
}

goal-progress .progress {
    margin-bottom: 0px;
}

goal-progress progress-sand-time {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
}

goal-progress progress-sand-time .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

goal-progress progress-sand-time .clearfix:before,
goal-progress progress-sand-time .clearfix:after {
  content: ' ';
  display: table;
}

goal-progress progress-sand-time .clearfix:after {
  clear: both;
}

goal-progress progress-sand-time .clearfix {
  zoom: 1;
}

goal-progress progress-sand-time .hourglass {
  display: block;
  background: #dad8d2;
  margin: 3em auto;
  width: 2em;
  height: 4em;
  box-shadow: inset #dad8d2 0 0 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 0 4em 0;
  -webkit-animation: hourglass 1s linear infinite;
          animation: hourglass 1s linear infinite;
}

goal-progress progress-sand-time {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
}

goal-progress progress-sand-time .outer {
  fill: #003756;
}

goal-progress progress-sand-time .middle {
  fill: #ffffff;
}

@-webkit-keyframes hourglass {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #dad8d2 0 0 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 4em 0 0, inset #00ba9b 0 4em 0 0;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #dad8d2 0 2em 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 2em 0 0, inset #00ba9b 0 4em 0 0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    box-shadow: inset #dad8d2 0 2em 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 2em 0 0, inset #00ba9b 0 4em 0 0;
  }
}

@keyframes hourglass {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #dad8d2 0 0 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 4em 0 0, inset #00ba9b 0 4em 0 0;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #dad8d2 0 2em 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 2em 0 0, inset #00ba9b 0 4em 0 0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    box-shadow: inset #dad8d2 0 2em 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 2em 0 0, inset #00ba9b 0 4em 0 0;
  }
}
