
progress-sand-time .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

progress-sand-time .clearfix:before,
progress-sand-time .clearfix:after {
  content: ' ';
  display: table;
}

progress-sand-time .clearfix:after {
  clear: both;
}

progress-sand-time .clearfix {
  zoom: 1;
}

progress-sand-time .hourglass {
  display: block;
  background: #dad8d2;
  margin: 3em auto;
  width: 2em;
  height: 4em;
  box-shadow: inset #dad8d2 0 0 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 0 4em 0;
  -webkit-animation: hourglass 1s linear infinite;
          animation: hourglass 1s linear infinite;
}

progress-sand-time .outer {
  fill: #003756;
}

progress-sand-time .middle {
  fill: #ffffff;
}

@-webkit-keyframes hourglass {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #dad8d2 0 0 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 4em 0 0, inset #00ba9b 0 4em 0 0;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #dad8d2 0 2em 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 2em 0 0, inset #00ba9b 0 4em 0 0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    box-shadow: inset #dad8d2 0 2em 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 2em 0 0, inset #00ba9b 0 4em 0 0;
  }
}

@keyframes hourglass {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #dad8d2 0 0 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 4em 0 0, inset #00ba9b 0 4em 0 0;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    box-shadow: inset #dad8d2 0 2em 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 2em 0 0, inset #00ba9b 0 4em 0 0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    box-shadow: inset #dad8d2 0 2em 0 0, inset #00ba9b 0 2em 0 0, inset #dad8d2 0 2em 0 0, inset #00ba9b 0 4em 0 0;
  }
}
