/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/02/2017, 01:39:05 PM
    Author     : jospina
*/

budget-progress-time {
    min-height: 20px;
    width: 100%;
    background: gainsboro;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 25px;
}

budget-progress-time item {
    float: left;
    border-right: 1px black solid;
    display: block;
    height: 20px;
    cursor: pointer;
}

budget-progress-time item:last-child {
    border-right:0px;
}

budget-progress-time item.active {
    background: #00bb9b;
}

budget-progress-time item progress-bar {
    display: block;
    background: #00bb9b;
    height: 20px;
}
budget-progress-time date {
    position: absolute;
    top: -18px;
    font-size: 0.6em;
    background: rgb(0, 84, 132);
    color: white;
    padding: 2px 10px;
}

budget-progress-time date[start]{
    left: 0px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;

}
budget-progress-time date[end]{
    right: 0px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}