/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2016, 03:26:51 PM
    Author     : jospina
*/

.list-subcat{
    overflow-x:hidden;
    overflow-y: auto;
}

div#form-cron {
    margin-top: 10px;
    background: white;
    border-right: 0px;
    border-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.16), inset 0 2px 10px 0 rgba(0,0,0,.12);
}
