/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2017, 09:35:08 AM
    Author     : jospina
*/

.filter[data-status="close"] #filter-content{
    display:none;
}

.filter {
    clear: both;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    padding: 5px 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px #c4c4c4 solid;
}

.filter[data-status="close"] {
    border: 3px gainsboro dashed;
    text-align: center;
    color: #cecece;
    text-transform: uppercase;
    padding: 5px;
    background: #eeeeee;
    cursor: pointer;
    width: 10%;
    position: absolute;
    right: 0px;
    top: -22px;
}
.filter[data-status="close"] #open-filter{
    margin: 0px;
    font-size: 1.8em;
}
main{
    position: relative;
}

form{
    position:relative;
    width:100%;
}