/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/10/2016, 02:22:13 PM
    Author     : jospina
*/

html,body{
    width: 100%;
    height:100%;
    margin:0px;
    padding:0px;
    font-family: "Roboto", self-serif;
    background: #eeeeee;
}



.side-nav .logo-wrapper img {
    padding: 4% 20px;
    max-width: 100%;
}

/*
.navbar{
    background-color: #00456C!important;
}*/

.coinpoint-gradient, .coinpoint-skin .side-nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002133+1,00314c+50,00456c+100 */
    background: #002133; /* Old browsers */
    background: -moz-linear-gradient(top,  #002133 1%, #00314c 50%, #00456c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #002133 1%,#00314c 50%,#00456c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #002133 1%,#00314c 50%,#00456c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002133', endColorstr='#00456c',GradientType=0 ); /* IE6-9 */
}


.coinpoint-skin .primary-color, .coinpoint-skin .stepper li.active a .circle, .stepper li.active a .coinpoint-skin .circle, .coinpoint-skin .stepper li.completed a .circle, .stepper li.completed a .coinpoint-skin .circle {
    background-color: #062A64 !important;
}

.coinpoint-skin .navbar,
.coinpoint-skin .page-footer {
    background-color: #00456C;
}

.coinpoint-skin .side-nav .logo-wrapper {
    background:none;
    padding-top: 10px;
}

.coinpoint-skin .side-nav .sn-avatar-wrapper img {
    border: 3px solid #5a95f5;
}

.coinpoint-skin .side-nav .social a:hover {
    background-color: #003756;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.coinpoint-skin .side-nav .collapsible li {
    background-color: transparent;
}

.coinpoint-skin .side-nav .collapsible li a.active {
    background-color: #062A64;
}

.coinpoint-skin .side-nav .collapsible li a:hover {
    background-color: #003756;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.coinpoint-skin .side-nav .fa {
    color: rgba(227, 242, 253, 0.64);
}

.coinpoint-skin .navbar .navbar-nav .dropdown .dropdown-primary .dropdown-item:hover {
    background-color: #003756;
}

.coinpoint-skin .btn-primary {
    background: #4285F4;
}

.coinpoint-skin .btn-primary:hover, .coinpoint-skin .btn-primary:focus {
    background-color: #5a95f5 !important;
}

.coinpoint-skin .btn-primary.active {
    background-color: #0b51c5 !important;
}

.coinpoint-skin .btn-secondary {
    background: #5C4AF5;
}

.coinpoint-skin .btn-secondary:hover, .coinpoint-skin .btn-secondary:focus {
    background-color: #7262f6 !important;
}

.coinpoint-skin .btn-secondary.active {
    background-color: #200bce !important;
}

.coinpoint-skin .btn-default,
.coinpoint-skin .card .btn-action {
    background: #0d47a1;
}

.coinpoint-skin .btn-default:hover, .coinpoint-skin .btn-default:focus,
.coinpoint-skin .card .btn-action:hover,
.coinpoint-skin .card .btn-action:focus {
    background-color: #0f51b9 !important;
}

.coinpoint-skin .btn-default.active,
.coinpoint-skin .card .btn-action.active {
    background-color: #051d43 !important;
}

.coinpoint-skin .btn-primary-outline {
    border: 2px solid #4285F4;
    color: #4285F4 !important;
}

.coinpoint-skin .btn-secondary-outline {
    border: 2px solid #5C4AF5;
    color: #5C4AF5 !important;
}

.coinpoint-skin .btn-default-outline {
    border: 2px solid #0d47a1;
    color: #0d47a1 !important;
}

.coinpoint-skin input[type=checkbox].filled-in:checked + label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.coinpoint-skin input[type=checkbox].filled-in:checked + label:after {
    background-color: #0d47a1;
    border-color: #0d47a1;
}

.coinpoint-skin .top-nav-collapse {
    background-color: #003756;;
}

.coinpoint-skin .carousel-multi-item .controls-top > a, .coinpoint-skin .carousel-multi-item .carousel-indicators li, .coinpoint-skin .carousel-multi-item .carousel-indicators li.active {
    background-color: #003756;;
}

.coinpoint-skin .tag, .coinpoint-skin .form-header, .coinpoint-skin .card-header {
    background-color: #003756;;
}

.coinpoint-skin .card-header .card-subtitle {
    width: 100%;
    font-size: 0.5em;
    margin-top: 2px;
    background: white;
    color: #003756;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.coinpoint-skin .top-nav-collapse div#btn-shortcut a.btn-floating {
    padding: 0px;
    margin: 4px;
    margin-left: 10px;
    background: inherit;
    border: 1px #b3b3b3 solid;
}

div#btn-shortcut a.btn-floating {
    width: 55px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.side-nav .logo-wrapper {
    height: 90px;
}


main .container-fluid{
    padding-top: 1em;
}

h1.h1-responsive {
    margin-bottom: 1em;
}

.md-form label{
    width:100%;
}
.row{
    margin-top: 20px;
}

.coinpoint{
    background: #00bb9b;
    background-color: #00bb9b;
}


input[type=date]+label:after, input[type=datetime-local]+label:after, input[type=email]+label:after, input[type=number]+label:after, input[type=password]+label:after, input[type=search-md]+label:after, input[type=search]+label:after, input[type=tel]+label:after, input[type=text]+label:after, input[type=time]+label:after, input[type=url]+label:after, textarea.md-textarea+label:after {
    top: 45px;
}

input[type=date]:focus+label:after, input+label.active:after, input[type=datetime-local]:focus+label:after, input[type=email]:focus+label:after, input[type=number]:focus+label:after, input[type=password]:focus+label:after, input[type=search-md]:focus+label:after, input[type=search]:focus+label:after, input[type=tel]:focus+label:after, input[type=text]:focus+label:after, input[type=time]:focus+label:after, input[type=url]:focus+label:after, textarea.md-textarea+label:after {
    top: 65px;
}

a.activator.btn {
    padding: 1px;
}

.color-revenue,.color-EN{
    color:#4CAF50;
}

.color-spend,.color-SP{
    color:#F44336;
}

.color-saving{
    color:#062A64;
}

.bg-revenue,.bg-EN,.tag.tag-success{
    color:white!important;
    background: #4CAF50!important;
}

.bg-spend,.bg-SP,.tag.tag-danger{
    color:white!important;
    background-color: #F44336!important;
}

.bg-saving{
    color:white;
    background-color: #062A64!important;
}

.dark-red{
    background-color: #8e2820!important;
}

.alert .fa{
    font-size: 3em;
    float: left;
    margin-right: 20px;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
}

input.input-alternate{
    background: white;
    -webkit-box-sizing:inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

input.input-alternate.invalid {
    border-bottom: 2px red solid;
}

input.input-alternate:focus+label:after{
    top:45px;
}

.bg-coinpoint{
    background-color: #00bb9b!important;
    color:white!important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #00923b;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #00C851!important;
}

input[type=range]:before {
    content: attr(label-min);
    position: absolute;
    left: 0px;
    top: 10px;
}

input[type=range]:after {
    content: attr(label-max);
    position: absolute;
    right: 0px;
    top: 10px;
}

.fa.symbol {
    font-size: 2em;
    margin-top: 10px;
}

.btn.btn-sm .fa{
    font-size:1em;
}

h2.doc-title{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
    margin: 5rem 0 2rem;
    font-size: 2rem;
}

h1.doc-title {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 2rem 0;
    margin: 5rem 0 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0px;
    font-weight: bold;
}

ul.dropdown-content.multiple-select-dropdown li span {
    padding-left: 45px;
    display: block;
    white-space: nowrap;
}

ul.dropdown-content.multiple-select-dropdown li label {
    position: absolute;
    left: 15px;
}

.mdb-select.select-group li.main span {
    color: gray;
    font-weight: bold;
    overflow: hidden;
}

.mdb-select.select-group li.subitem span{
    width: 100%;
    overflow: hidden;
}

.mdb-select.select-group li.subitem span:before{
    content: "-- ";
    color: gainsboro;
}

.select-dropdown li img {
    height: inherit;
}