/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/11/2016, 10:32:44 AM
    Author     : jospina
*/

#menu-main{
    margin-top:10px;
}

input.input-currency {
    font-size: 2em;
}

#progress-bar-g{
    display: none;
}

#progress-bar-g.progress .determinate, .progress .indeterminate {
    background-color: #00d2ae;
}

.list-group-item .big{
    font-size: 1.2em;
}


.card.spend{
    box-shadow: 0 1px 1px 0 #C00,0 2px 2px 0 #C00;
}

.card.spend h1{
    color: #cc0000;
}

.card.spend button[type="submit"]{
    background: #cc0000;
}

.card.entry{
    box-shadow: 0 1px 1px 0 #00C851,0 2px 2px 0 #00C851;
}

.card.entry h1{
    color: #00C851;
}

.card.entry button[type="submit"]{
    background: #00C851;
}

.card.exchange{
    box-shadow: 0 1px 1px 0 #F80,0 2px 2px 0 #F80;
}

.card.exchange h1{
    color: #F80;
}

.card.exchange button[type="submit"]{
    background: #F80;
}

.card.investment{
    box-shadow: 0 1px 1px 0 #4285F4,0 2px 2px 0 #4285F4;
}

.card.investment h1{
    color: #4285F4;
}

.card.investment button[type="submit"]{
    background: #4285F4;
}

.list-group.list-group-hover .list-group-item:not(.active):hover{
    background: #f3f3f3;
    cursor: pointer;
}

.error-select {
    color: red;
    font-size: 0.8em;
    position: relative;
    top: -10px;
}

.select-wrapper.mdb-select.invalid .select-dropdown {
    border-bottom-color: red;
}

.md-form.input-group label:after{
    display: block;
    content: "";
    position: absolute;
    top: 45px;
    opacity: 0;
    transition: .2s opacity ease-out,.2s color ease-out;
    color:red;
}

.md-form.input-group input.invalid+.input-group-btn+label:after{
    opacity: 1;
    content: attr(data-error);
}

.streak-month{
    height:150px;
}

.streak-month h1{
    font-weight: bold;
}

.card-transaction .card-data.sp,.card-transaction .date-day.sp,
.card-transaction .card-data.en,.card-transaction .date-day.en,
.card-transaction .card-data.ex,.card-transaction .date-day.ex{
    font-size: 1.5em;
    color: white;
}

.card-transaction .card-data.sp,.card-transaction .date-day.sp{
    background: #cc0000;
}

.card-transaction .card-data.en,.card-transaction .date-day.en{
    background: #00C851;
}

.card-transaction .card-data.ex,.card-transaction .date-day.ex{
    background: #F80;
}

.card-transaction  .btn-actions{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20pt;
    display: none;
}

.card-transaction .date-day.sp,.card-transaction .date-day.en,.card-transaction .date-day.ex {
    color: white;
    text-align: center;
    font-weight: bold;
    top: -40px;
    font-size: 3em;
    height: 80px;
    width: 80px;
    margin-right: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    margin: auto;
}

.card-transaction .face{
    height: initial;
}

.card-wrapper.card-transaction{
    height: 190px;
    margin-top: 30px;
    cursor: pointer;
}

.card-transaction .card-block{
    padding-top: 3.5em;
    padding-bottom: 0.5em;
}

.card-transaction table th{
    font-size: 1.2em;
    background: #00456c;
    color: white;
    min-width: 160px;
    font-weight: 100;
    border: 1px #012c44 solid;
}

.card-transaction table td{
    border: 1px black solid;
    font-size: 1.2em;
}

ul#app-credit a label {
    background: indianred;
    color: white;
    overflow: hidden;
}

.app-balance{
    border-top:1px solid rgba(153,153,153,.298039);
    border-bottom: 1px solid rgba(153,153,153,.298039);
    background: #00456c;
}

.app-balance a:first-child{
    text-align: center;
    padding: 0px;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 32px;
}

.app-balance li:first-child{
    padding: 0px;
}

.app-balance a label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: .6em;
    background: white;
    color: #003553;
    display: block;
    line-height: normal;
    height: 17px;
    padding: 3px;
    margin: auto;
}

.app-balance ul{
    padding: 15px;
}

.app-balance ul a{
    font-size: 0.9em!important;
}

.dashaboard-widget label.month {
    font-size: 1.3em;
}

#btn-shortcut {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
}

div#btn-shortcut .dropdown-menu a {
    color: inherit;
    font-size: 1em;
}

li#app-version {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
}
.card.dashaboard-widget .list-group-item {
    padding-top: 5px;
    padding-bottom: 15px;
    position: relative;
}

.card.dashaboard-widget .list-group-item progress{
    position: absolute;
    bottom: -9px;
    width: 93%;
}

.card.dashaboard-widget .credit-card .quota{
    font-size: 0.7em;
    position: absolute;
    top: 4px;
    right: 0px;
}

.card.dashaboard-widget .credit-card .balance{
    font-size: 0.7em;
    position: absolute;
    top: 4px;
}

.card.dashaboard-widget .credit-card{
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    width: 99%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px #bfbebe solid;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.progress-balance {
    background-color: #eee;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    width: 100%;
    height: 30px;
    display: block;
}

.progress-balance .bar {
    color: white;
    width: 0%;
    display: block;
    text-align: center;
    padding: 0px;
    height: 100%;
    float: left;
    position: relative;
}

.progress-balance .bar span{
    padding:4px;
    display: block;
}

.progress-balance .bar label {
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 0px;
    right: 0px;
}

ul.budget{
    position: relative;
    margin-top: 3em;
}

ul.budget::after {
    position: absolute;
    top: -40px;
    right: 0px;
    padding: 5px;
    font-weight: bold;
    left: 0px;
    text-align: left;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.2em;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

ul.budget.revenue::after {
    color: #4caf50;
    content: "\f201";
    border-left: 2px #4caf50 solid;
    border-bottom: 2px #4caf50 solid;
}

ul.budget.spend::after{
    content: "\f0d6";
    color: #F44336;
    border-left: 2px #F44336 solid;
    border-bottom: 2px #F44336 solid;
}

ul.budget.spend::before {
    border-right: 2px #F44336 solid;
}

ul.budget.revenue::before {
    border-right: 2px #4caf50 solid;

}

ul.budget::before {
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    top: -10px;
    right: 0px;
}

ul.budget .collapsible-header {
    font-weight: bold;
}

ul.budget li{
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.budget .collapsible-body li{
    border-bottom:0px;
    padding-left: 1em;
    position: relative;
}

ul.budget.spend .collapsible-body li::before{
    content: "\f054";
    color: #F44336;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0px;
    top: 14px;
}

ul.budget .collapsible-header .tag {
    font-size: 1em;
}

ul.budget a {
    color: black;
}

.card-block.budget-index.active {
    border-left: 5px #00456c solid;
}


.list-group-item .btn-actions {
    height: 100%;
    width: 57px;
    margin: 10px;
    position: absolute;
    background: gainsboro;
    padding: 10px;
    right: -10px;
    top: -10px;
}

.list-group-item .left-actions{
    margin-right: 57px;
}

.list-group-item .btn-actions .dropdown{
    font-size: 1.5em;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 27px;
    height: 30px;
    padding: 0px;
}

.card.dashaboard-widget .credit-card .date {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 2px;
    font-size: 0.8em;
}

.card.dashaboard-widget .credit-card .date span {
    color: white;
    padding: 2px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.tooltip.spend .tooltip-inner {
    background: #ff4444;
}
.tooltip.spend .tooltip-inner::before{
    border-left-color: #ff4444;
}

.tooltip.saving .tooltip-inner {
    background: #062A64;
}
.tooltip.saving .tooltip-inner::before{
    border-left-color: #062A64;
}


.dashaboard-widget.budget #expected-saving{
    position: absolute;
    left: 0px;
    bottom: 20px;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

.list-group-item .list-group-item-text .tag{
    background: #f3f3f3;
    color: gray;
    border: 1px gainsboro solid;
    font-size: 0.9em;
    box-shadow: none;
}

form .progress.loader {
    margin-top: 10px;
}

.md-form.input-group .prefix+input {
    padding-left: 45px;
}

.btn-icon:hover{
    color:#00bb9b;    
    cursor: pointer;
}

.row.group-visual-data .col-md-6 span {
    font-size: 2em;
}

.row.group-visual-data .col-md-6:nth-child(2) {
    -khtml-opacity: .70;
    -moz-opacity: .70;
    -ms-filter: â€alpha(opacity=70)â€;
    filter: alpha(opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
    opacity: .70;
    position: relative;
    top: -.2em;
}

.row.group-visual-data h5 {
    font-size: 1em;
    margin-top: 5px;
}

.row.group-visual-data .col-md-6 span {
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
    display: block;
}

.row.group-visual-data .col-md-6:nth-child(2) span {
    background: white;
    color: black;
    font-size: 1.8em;
    padding: .2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.row.group-visual-data {
    margin-top: 8px;
}

ul.list-group.categories.spend li.list-group-item.undenfined,ul.list-group.categories.revenue li.list-group-item.undenfined{
    font-size: 1.2em;
    padding-top: 7px;
    padding-left: 14px;
    padding-bottom: 3px;
    font-weight: bold;
}

ul.list-group.categories.revenue li.list-group-item.undenfined{

    border: 1px #4caf50 solid;
    color: #4caf50;
}

ul.list-group.categories.spend li.list-group-item.undenfined{
    border: 1px #f44336 solid;
    color: #f44336;
}
.arrow-right {
    position: relative;
    font-size: 3em;
    color:#00bb9b;
    min-height:50px;
}

.arrow-right:before{
    content: "";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0px;
    height: 11px;
    margin: auto;
    bottom: 0px;
    width: 95%;
    background: #00bb9b;
    left: 0px;
    -webkit-border-radius: 100px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 100px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 100px;
}

.arrow-right:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f061";
    position: absolute;
    top: 0px;
    height: 50px;
    margin: auto;
    bottom: 0px;
    right: 0px;
}

.tag-arrow {
    background: #00bb9b;
    text-align: center;
    padding: 10px;
    color: white;
    margin: auto;
    margin-top: 6px;
    display: block;
    border: 1px #009279 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#app-balance a.not-unify label,#app-credit a.not-unify label{
    font-size: 1em;
    top: 0px;
    padding: 16px;
    height: 100%;
    cursor: pointer;
}

.tag-currency {
    background-color: gainsboro!important;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 0.5em;
    border-radius: 0px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    color: #000000;
    border-left: 1px #bfbfbf solid;
    border-top: 1px #bfbfbf solid;
}

div.col-xs-1.currency-code {
    font-size: 2em;
    margin-top: 15px;
}

li#menu-main li.active .fa {
    color: #00bb9b;
}

li#mode-secure-content {
    text-align: center;
    margin-top: 25px;
    width: 100%;
}

li#mode-secure-content .fa-unlock.active {
    color: #cc0000;
}

#mode-secure-content i.fa.fa-lock.active {
    color: #00c851;
}

.tag.status.completed{
    background-color:#00C851!important;
}

.tag.status.in_progress{
    background-color:#ff9800!important;
}

.tag.status.terminated{
    background-color:gray!important;  
}

.attempt {
    position: absolute;
    top: 0px;
    font-size: 0.8em;
    right: 0px;
    background-color: gray;
    padding: 0px 10px;
    color: white;
}



.card-block.not-show-data {
    padding: 5em 1em;
}

#table-aut-log .tag-cat-main {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #0066ab;
    font-size: 0.7em;
    padding: 2px 10px;
    color: white;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}


#table-aut-log .tr-log.init{
    border-top: 5px #656565 solid;
}

#table-aut-log .tr-log.end{
    border-bottom: 5px #656565 solid;
}

#table-aut-log tr:not(.tr-log) + .tr-log.init{
    border-top-width: 0px!important;
}

#table-aut-log .tr-log.end:last-child{
    border-bottom-width: 0px!important;
}


.group-fa {
    position: relative;
    margin-right: 5px;
}

.group-fa .fa.group-sub-right{
    position: absolute;
    right: -7px;
    bottom: -3px;
}


.content-pagination {
    text-align: center;
    margin-top: 1em;
}

.content-render-view progress-sand-time{
    display: block;
    position: absolute;
    width: 200px;
    height: 250px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0px;
    bottom: 0px;
}

.content-pagination .btn-pag-nav:last-child.show-bullet:before {
    content: attr(data-total);
    background: red;
    padding: 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top: 5px;
    right: -25%;
    display: inline-block;
    width: 50%;
}

.content-pagination .btn-pag-nav:first-child.show-bullet:after {
    content: "1";
    background: red;
    padding: 3px 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top: 6px;
    left: -10px;
    font-weight: bold;
}

*[data-toggle="tooltip"]{
    cursor: pointer;
}

.help[data-toggle="tooltip"] {
    color: #4285f4;
    font-size: 12pt;
}

._render {
    display: flow-root;
}