/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/12/2016, 10:48:36 AM
    Author     : jospina
*/

.legend h5 {
    float: left;
    margin-right: 1em;
}
.legend {
    display: inline-flex;
        margin-bottom: 7px;
}

.progress-balance .bar label.floating {
    position: absolute;
    top: -19px;
    color: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-bottom-right-radius: 1px;
    -moz-border-bottom-right-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    -moz-border-bottom-left-radius: 1px;
    -webkit-border-bottom-left-radius: 1px;
}

.progress-balance .bar.spend label.floating {
    right: 0px;
    left: inherit;
}

.progress-balance .bar.revenue label.floating {
    right:inherit ;
    left: 0px;
}

.progress-balance .bar.deficit label.floating {
    background: #8e2820;
}

.progress-balance .bar.revenue label.floating {
    background: #4CAF50;
}
.progress-balance .bar.spend label.floating {
    background: #F44336;
}

.progress-balance .bar.saving label.floating {
    background: #062A64;
}

div#saving-porcent {
    margin-left: 10px;
}