
#wildo-interstial{
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 999;
    bottom: 20px;
    left: 0px;
    cursor: help;
}

.tooltip.cloud.wildo{
    opacity: 1;
    z-index: 9999;
}

#wildo-interstial #wildo{
    position: absolute;
    height: 80%;
    left: 0px;
    right: 0px;
    margin: auto;
}

#wildo-interstial #wildo:hover{
    -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0,190,158,1);
    -moz-box-shadow: inset 0px 0px 50px 5px rgba(0,190,158,1);
    box-shadow: inset 0px 0px 50px 5px rgba(0,190,158,1);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.tooltip.cloud .tooltip-inner {
    background: #FFFFFF;
    color:black;
    cursor: pointer;
}
.tooltip.cloud .tooltip-inner::before{
    border-right-color: #FFFFFF;
}
