/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2017, 09:23:18 AM
    Author     : jospina
*/

div#modal-params-autoread .help-default-msg {
    background: #f3f3f3;
    color: #002d73;
    text-align: center;
    border-top: 1px #0d47a1 solid;
    border-bottom: 1px #0d47a1 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

div#modal-params-autoread #input-text-add {
    background: #002438;
    color: white;
}

#sec-autoread .fa-remove{
    color:red;
    cursor:pointer;
}

#msg-not-params{
    width:100%;
    text-align: center;
}