/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/10/2016, 02:22:13 PM
    Author     : jospina
*/

html,body{
    width: 100%;
    margin:0px;
    padding:0px;
    font-family: "Roboto", self-serif;
    height: 100%;
}

body{
    background: #00456C;
}



.side-nav .logo-wrapper img {
    padding: 4% 20px;
    max-width: 100%;
}

/*
.navbar{
    background-color: #00456C!important;
}*/

.coinpoint-gradient, .coinpoint-skin .side-nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002133+1,00314c+50,00456c+100 */
    background: #002133; /* Old browsers */
    background: -moz-linear-gradient(top,  #002133 1%, #00314c 50%, #00456c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #002133 1%,#00314c 50%,#00456c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #002133 1%,#00314c 50%,#00456c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002133', endColorstr='#00456c',GradientType=0 ); /* IE6-9 */
}


.coinpoint-skin .primary-color, .coinpoint-skin .stepper li.active a .circle, .stepper li.active a .coinpoint-skin .circle, .coinpoint-skin .stepper li.completed a .circle, .stepper li.completed a .coinpoint-skin .circle {
    background-color: #062A64 !important;
}

.coinpoint-skin .navbar,
.coinpoint-skin .page-footer {
    background-color: #00456C;
}

.coinpoint-skin .side-nav .logo-wrapper {
    background:none;
    padding-top: 10px;
}

.coinpoint-skin .side-nav .sn-avatar-wrapper img {
    border: 3px solid #5a95f5;
}

.coinpoint-skin .side-nav .social a:hover {
    background-color: #003756;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.coinpoint-skin .side-nav .collapsible li {
    background-color: transparent;
}

.coinpoint-skin .side-nav .collapsible li a.active {
    background-color: #062A64;
}

.coinpoint-skin .side-nav .collapsible li a:hover {
    background-color: #003756;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.coinpoint-skin .side-nav .fa {
    color: rgba(227, 242, 253, 0.64);
}

.coinpoint-skin .navbar .navbar-nav .dropdown .dropdown-primary .dropdown-item:hover {
    background-color: #003756;
}

.coinpoint-skin .btn-primary {
    background: #4285F4;
}

.coinpoint-skin .btn-primary:hover, .coinpoint-skin .btn-primary:focus {
    background-color: #5a95f5 !important;
}

.coinpoint-skin .btn-primary.active {
    background-color: #0b51c5 !important;
}

.coinpoint-skin .btn-secondary {
    background: #5C4AF5;
}

.coinpoint-skin .btn-secondary:hover, .coinpoint-skin .btn-secondary:focus {
    background-color: #7262f6 !important;
}

.coinpoint-skin .btn-secondary.active {
    background-color: #200bce !important;
}

.coinpoint-skin .btn-default,
.coinpoint-skin .card .btn-action {
    background: #0d47a1;
}

.coinpoint-skin .btn-default:hover, .coinpoint-skin .btn-default:focus,
.coinpoint-skin .card .btn-action:hover,
.coinpoint-skin .card .btn-action:focus {
    background-color: #0f51b9 !important;
}

.coinpoint-skin .btn-default.active,
.coinpoint-skin .card .btn-action.active {
    background-color: #051d43 !important;
}

.coinpoint-skin .btn-primary-outline {
    border: 2px solid #4285F4;
    color: #4285F4 !important;
}

.coinpoint-skin .btn-secondary-outline {
    border: 2px solid #5C4AF5;
    color: #5C4AF5 !important;
}

.coinpoint-skin .btn-default-outline {
    border: 2px solid #0d47a1;
    color: #0d47a1 !important;
}

.coinpoint-skin input[type=checkbox].filled-in:checked + label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.coinpoint-skin input[type=checkbox].filled-in:checked + label:after {
    background-color: #0d47a1;
    border-color: #0d47a1;
}

.coinpoint-skin .top-nav-collapse {
    background-color: #072e6e;
}

.coinpoint-skin .carousel-multi-item .controls-top > a, .coinpoint-skin .carousel-multi-item .carousel-indicators li, .coinpoint-skin .carousel-multi-item .carousel-indicators li.active {
    background-color: #072e6e;
}

.coinpoint-skin .tag, .coinpoint-skin .form-header, .coinpoint-skin .card-header {
    background-color: #072e6e;
}

.side-nav .logo-wrapper {
    height: 90px;
}

.fixed-sn main, .hidden-sn main {
    padding-top: 2em;
}

main .container-fluid{
    padding-top: 1em;
}

h1.h1-responsive {
    margin-bottom: 1em;
}

.md-form label{
    width:100%;
}

.md-form{
    margin-top: 3em;
}

input.input-alternate.invalid {
    border-bottom: 2px red solid;
}

.md-form.input-group .prefix+input {
    padding-left: 45px;
}

small{
    font-size: 70%;
    line-height: 18px;
    display: block;
}