/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/11/2016, 10:32:44 AM
    Author     : jospina
*/

#menu-main{
    margin-top:10px;
}

input.input-currency {
    font-size: 2em;
}

#progress-bar-g{
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
}

#progress-bar-g.progress .determinate, .progress .indeterminate {
    background-color: #4285f4;
}

header {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
}

header img {
    max-height: 250px;
    width: 100%;
    max-width: 500px;
}

footer.text-center {
    color: white;
    width: 100%;
    display: block;
    padding-left: 0px;
    margin-top: 10%;
}

body#page-auth-login,body#page-auth-signup,body#page-auth-confirm,body#page-auth-forgotten{
    background: black;
}


body#page-auth-login #overlay-bg,body#page-auth-forgotten  #overlay-bg{
    background-image:url("../../../images/res/bg/bogota.jpg");
}

body#page-auth-signup #overlay-bg,body#page-auth-confirm #overlay-bg{
    background-image:url("../../../images/res/bg/bogota-after.jpg");
}

#overlay-bg{
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    top: 0px;
    left: 0px;
}

.btn-coin-point {
    background: #00ba9b;
}

#msg-register{
    color:white;
    margin-top: 20px;
}

input[type=date].invalid+label:not(.active):after, input[type=date]:focus.invalid+label:not(.active):after, input[type=datetime-local].invalid+label:not(.active):after, input[type=datetime-local]:focus.invalid+label:not(.active):after, input[type=email].invalid+label:not(.active):after, input[type=email]:focus.invalid+label:not(.active):after, input[type=number].invalid+label:not(.active):after, input[type=number]:focus.invalid+label:not(.active):after, input[type=password].invalid+label:not(.active):after, input[type=password]:focus.invalid+label:not(.active):after, input[type=search-md].invalid+label:not(.active):after, input[type=search-md]:focus.invalid+label:not(.active):after, input[type=search].invalid+label:not(.active):after, input[type=search]:focus.invalid+label:not(.active):after, input[type=tel].invalid+label:not(.active):after, input[type=tel]:focus.invalid+label:not(.active):after, input[type=text].invalid+label:not(.active):after, input[type=text]:focus.invalid+label:not(.active):after, input[type=time].invalid+label:not(.active):after, input[type=time]:focus.invalid+label:not(.active):after, input[type=url].invalid+label:not(.active):after, input[type=url]:focus.invalid+label:not(.active):after, textarea.md-textarea.invalid+label:not(.active):after, textarea.md-textarea:focus.invalid+label:not(.active):after {
    font-size: .8rem;
    top: 3.2em;
}

.icon-big-center .fa {
    font-size: 8em;
}

.icon-big-center{
    text-align: center;
    margin:1em 0px;
}

.icon-big-center img {
    max-height: 200px;
    margin: auto;
}

.exception-msg{
    color:white;
    text-align: center;
    position: relative;
    top: 40px;
}