page-loader {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    z-index: 99;
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
}

page-loader display{
    width: 100%;
    position: relative;
    left: 0px;
    top:0px;
    height: 100%;
    margin: 0px;
    display: block;
}

page-loader #coin-flip-cont {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -25%;
    left: 240px;
    bottom: 0;
    right: 0;
    margin: auto;
}

page-loader #coin {
    position: relative;
    width: 100px;
    transform-style: preserve-3d;
}

page-loader #coin .front, #coin .back {
    position: absolute;
    width: 100px;
    height: 100px;
}

page-loader #coin .front {
    transform: translateZ(1px);
    border-radius: 50%;
    background-image: url("../../../images/res/loaders/main-front.png");
    background-size: 100px;
    background-repeat: no-repeat;
}

page-loader #coin .back {
    transform: translateZ(-1px) rotateY(180deg);
    border-radius: 50%;
    background-image: url("../../../images/res/loaders/main-back.png");
    background-size: 100px;
    background-repeat: no-repeat;
}

page-loader #coin.animation {
    -webkit-animation: rotate-page-loader 5s infinite linear forwards; 
    animation: rotate-page-loader 5s infinite linear forwards;
}

@keyframes rotate-page-loader {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
}

page-loader .cs-loader {
    position: relative;
    bottom: -120px;
    left: -50px;
    height: 40px;
    width: 300px;
}

page-loader .cs-loader-inner {
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    height: 40px;
    color: #FFF;
    padding: 0 100px;
    text-align: center;
    top: 10%;
    left: -100px;
    bottom: 0;
    right: 0;
    margin: auto;
}

page-loader .cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

page-loader .cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

page-loader .cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

page-loader .cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

page-loader .cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

page-loader .cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

page-loader .cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}

page-loader label {
    color: #00382e;
}

@media (max-width:1440px){
    page-loader,page-loader .cs-loader-inner,page-loader #coin-flip-cont{
        left: 0px;
    }
    page-loader .cs-loader {
        left: -100px;
    }
    page-loader #coin-flip-cont{
        top: 0px;
    }
}

page-loader .cs-ms {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 240px;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
}