
div.progress-coin .progress-bar {
    background: #005484;
    height: 100%;
    float: left;
    -webkit-border-top-left-radius: .25rem;
    -webkit-border-bottom-left-radius: .25rem;
    -moz-border-radius-topleft: .25rem;
    -moz-border-radius-bottomleft: .25rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    position: absolute;
}
div.progress-coin {
    position: absolute;
    width: 90%;
    height: 9px;
    background-color: #eee;
    border-radius: .25rem;
    display: block;
}

.dashaboard-widget.budget .categories li.list-group-item.success div.progress-coin .progress-bar.progress-current{
    background-color: #005484;
    background-image: linear-gradient(90deg, transparent 40%, rgb(76, 175, 80) 10%);
    background-size: 8px;
    position: relative;
}

.dashaboard-widget.budget .categories li.list-group-item.fail div.progress-coin .progress-bar.progress-current {
    background-color: #005484;
    background-image: linear-gradient(90deg, transparent 40%, rgb(255, 68, 68) 10%);
    background-size: 8px;
    position: relative;
}

div.progress-coin .progress-bar.progress-current.active::after{
    content: "";
    width: 1px;
    display: block;
    border: 1px black solid;
    height: 15px;
    position: absolute;
    right: -1px;
    top: -3px;
}

.dashaboard-widget.budget .categories li.list-group-item{
    padding-left: 50px;
}

.dashaboard-widget.budget .indicator {
    display: -webkit-inline-box;
    position: absolute;
    left: 11px;
    font-size: 2em;
    top: 0px;
}

#balance-budget li.list-group-item {
    padding-bottom: 5px;
}


.dashaboard-widget.budget .categories li.list-group-item.fail .tag {
    background-color: #f44336!important;
}

.dashaboard-widget.budget .categories li.list-group-item.success .tag{

}


.dashaboard-widget.budget .categories.revenue li.list-group-item.fail .tag{
    background-color: #005484!important;
}

#modal-budget .categories.revenue .progress-bar.progress-current.active {
    background-color: rgb(1, 154, 127);
    background-image: linear-gradient(90deg, transparent 40%, rgb(0, 188, 155) 10%);
    background-size: 8px;
    position: relative;
}

#modal-budget .categories.revenue .progress-bar.progress-current.active {
    background-color: rgb(1, 154, 127);
    background-image: linear-gradient(90deg, transparent 40%, rgb(0, 188, 155) 10%);
    background-size: 8px;
    position: relative;
    z-index: 99;
}

#modal-budget .categories.spend .progress-bar.progress-current.active {
    background-color: rgb(202, 70, 70);
    background-image: linear-gradient(90deg, transparent 40%, rgb(244, 67, 54) 10%);
    background-size: 8px;
    position: relative;
    z-index: 99;
}

#modal-budget div.progress-coin{
    width: 96%;
    left: 2%;
}

#modal-budget h6{
    display: inline-block;
}

.msg-notice {
    background: red;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}